In [3]:
# Train Test Split Data: The method train_test_split() is a scikit-learn class that helps to split data into 4 datasets (like
#                         x_train, x_test, y_train, y_test).
# Here, x: Independent variables
#       y: Variables which depend on x

In [4]:
import pandas as pd
import seaborn as sns

In [5]:
df=sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [7]:
df2=df[["survived","pclass","age","parch"]]

In [8]:
df3=df2.fillna(df2.mean())
df3.head()

   survived  pclass   age  parch
0         0       3  22.0      0
1         1       1  38.0      0
2         1       3  26.0      0
3         1       1  35.0      0
4         0       3  35.0      0

In [9]:
x_train=df3.drop(columns="survived")

In [13]:
x_train

     pclass        age  parch
0         3  22.000000      0
1         1  38.000000      0
2         3  26.000000      0
3         1  35.000000      0
4         3  35.000000      0
..      ...        ...    ...
886       2  27.000000      0
887       1  19.000000      0
888       3  29.699118      2
889       1  26.000000      0
890       3  32.000000      0

[891 rows x 3 columns]

In [10]:
y_train=df3["survived"]

In [12]:
from sklearn.model_selection import train_test_split

In [15]:
x_train_,x_test_,y_train_,y_test_=train_test_split(x_train,y_train,test_size=0.2)

In [16]:
x_train_.shape

(712, 3)

In [17]:
x_test_.shape

(179, 3)

In [18]:
y_train_.shape

(712,)

In [19]:
y_test_.shape

(179,)

In [20]:
x_train_

     pclass        age  parch
844       3  17.000000      0
436       3  21.000000      2
46        3  29.699118      0
43        2   3.000000      2
868       3  29.699118      0
..      ...        ...    ...
424       3  18.000000      1
731       3  11.000000      0
557       1  29.699118      0
819       3  10.000000      2
541       3   9.000000      2

[712 rows x 3 columns]

In [21]:
# You can observe that the index of the training data are shuffled. Hence, you can declare that the train_test_split()
# method splits the data randomly.

In [22]:
# To have the same shuffled data, you can use the parameter randm_state=any integer. Ex: train_test_split(x,y,
                                                             #           test_size=0.2,randm_state=51)