The Process of using optimal parameters for a ml model is called Hyperparameter tuning.

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
data=load_iris()

In [3]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [4]:
data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [5]:
df=pd.DataFrame(data=data.data,columns=data.feature_names)

In [6]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [7]:
df['target']=data.target

In [8]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [9]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [10]:
def func(x):
    if x==0:
        return 'setosa'
    elif x==1:
        return 'versicolor'
    else:
        return 'virginica'

In [11]:
df['flower names']=df['target'].apply(func)

In [12]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [13]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [14]:
# Now we split the columns into training and testing the data
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['flower names','target']),df['target'])

In [16]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
13                 4.3               3.0                1.1               0.1
77                 6.7               3.0                5.0               1.7
78                 6.0               2.9                4.5               1.5
149                5.9               3.0                5.1               1.8
54                 6.5               2.8                4.6               1.5
..                 ...               ...                ...               ...
131                7.9               3.8                6.4               2.0
38                 4.4               3.0                1.3               0.2
140                6.7               3.1                5.6               2.4
45                 4.8               3.0                1.4               0.3
59                 5.2               2.7                3.9               1.4

[112 rows x 4 columns]

In [17]:
y_train

13     0
77     1
78     1
149    2
54     1
      ..
131    2
38     0
140    2
45     0
59     1
Name: target, Length: 112, dtype: int32

Lets use SVM to train the model and then we will choose its parameters based on HyperParameter Tuning.

In [18]:
from sklearn.svm import SVC

In [26]:
model_svm=SVC(kernel='rbf',C=30,gamma='auto') # We have selected random parameters.

In [27]:
model_svm.fit(X_train,y_train)

SVC(C=30, gamma='auto')

In [29]:
model_svm.score(X_test,y_test)

0.9473684210526315

In [30]:
from sklearn.model_selection import cross_val_score

In [46]:
cross_val_score(SVC(kernel='rbf',C=10,gamma='auto'),df.drop(columns=['flower names','target']),df['target'])

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

In [47]:
cross_val_score(SVC(kernel='rbf',C=20,gamma='auto'),df.drop(columns=['flower names','target']),df['target'])

array([0.96666667, 1.        , 0.9       , 0.96666667, 1.        ])

In [48]:
cross_val_score(SVC(kernel='rbf',C=30,gamma='auto'),df.drop(columns=['flower names','target']),df['target'])

array([0.96666667, 1.        , 0.9       , 0.93333333, 1.        ])

In [49]:
cross_val_score(SVC(kernel='linear',C=10,gamma='auto'),df.drop(columns=['flower names','target']),df['target'])

array([1.        , 1.        , 0.9       , 0.96666667, 1.        ])

In [50]:
cross_val_score(SVC(kernel='linear',C=20,gamma='auto'),df.drop(columns=['flower names','target']),df['target'])

array([1.        , 1.        , 0.9       , 0.93333333, 1.        ])

In [51]:
cross_val_score(SVC(kernel='linear',C=30,gamma='auto'),df.drop(columns=['flower names','target']),df['target'])

array([1. , 1. , 0.9, 0.9, 1. ])

In [52]:
# You can set your parameters in the above way. But since the process is repeatitive, you can simply apply for loop:
kernel=['rbf','linear']
C=[10,20,30]
for kernel_value in kernel:
    for C_value in C:
        score=cross_val_score(SVC(kernel=kernel_value,C=C_value,gamma='auto'),df.drop(columns=['flower names','target']),df['target']).mean()
        print(f"score_{kernel_value}_{C_value}: {score}")

score_rbf_10: 0.9800000000000001
score_rbf_20: 0.9666666666666668
score_rbf_30: 0.96
score_linear_10: 0.9733333333333334
score_linear_20: 0.9666666666666666
score_linear_30: 0.96

Note that the scores taken here are the mean of the cross_val_score() array.

But this method gets annoying when you need to decide many parameters and since we are using a loop, it becomes time consuming.

So we use HyperParameter Tuning.

Note that Hyper parameter tuning (GridSearchCV) uses cross validation (i.e., it also has a parameter which sets the no. of folds)

In [42]:
from sklearn.model_selection import GridSearchCV

We use GridSearchCV(ml_model,{parameters of that model in the form of a dictionary with the parameters as a string and the list of its values},cv=no. of folds)

In [45]:
tuning_svm=GridSearchCV(SVC(gamma='auto'),{'kernel':['rbf','linear'],'C':[1,10,20]},cv=10)

In [53]:
# Now we fit the model.
tuning_svm.fit(df.drop(columns=['flower names','target']),df['target'])

GridSearchCV(cv=10, estimator=SVC(gamma='auto'),
             param_grid={'C': [1, 10, 20], 'kernel': ['rbf', 'linear']})

In [54]:
# Now we look at the GridSearchCV results.
tuning_svm.cv_results_

{'mean_fit_time': array([0.00398602, 0.00455372, 0.00578563, 0.00488696, 0.00568497,
        0.00487192]),
 'std_fit_time': array([0.00100558, 0.00115799, 0.00039759, 0.00048669, 0.00063867,
        0.00029754]),
 'mean_score_time': array([0.00234718, 0.00331404, 0.0036912 , 0.00338674, 0.00418882,
        0.00339124]),
 'std_score_time': array([0.00044691, 0.00077729, 0.00045946, 0.00049043, 0.00039903,
        0.00048903]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split1_test_score': array([0.93333333, 0.93333333, 0.93333333, 1.        , 0.93333333,
        1.        ]),
 'split2_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split3_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split4_test_score': array([1.        , 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667]),
 'split5_test_score': array([0.93333333, 1.        , 1.        , 1.        , 0.93333333,
        0.93333333]),
 'split6_test_score': array([0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
        0.86666667]),
 'split7_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split8_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split9_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.97333333, 0.97333333, 0.98      , 0.96666667,
        0.96666667]),
 'std_test_score': array([0.0305505 , 0.04422166, 0.04422166, 0.04268749, 0.04472136,
        0.05374838]),
 'rank_test_score': array([1, 3, 3, 1, 5, 5])}

In [55]:
# This may not look clear but we can use pd.DataFrame() to visualize it.
tuning_svm_df=pd.DataFrame(tuning_svm.cv_results_)
tuning_svm_df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003986,0.001006,0.002347,0.000447,1,rbf,"{'C': 1, 'kernel': 'rbf'}",1.0,0.933333,1.0,1.0,1.000000,0.933333,0.933333,1.0,1.0,1.0,0.980000,0.030551,1
1,0.004554,0.001158,0.003314,0.000777,1,linear,"{'C': 1, 'kernel': 'linear'}",1.0,0.933333,1.0,1.0,0.866667,1.000000,0.933333,1.0,1.0,1.0,0.973333,0.044222,3
2,0.005786,0.000398,0.003691,0.000459,10,rbf,"{'C': 10, 'kernel': 'rbf'}",1.0,0.933333,1.0,1.0,0.866667,1.000000,0.933333,1.0,1.0,1.0,0.973333,0.044222,3
3,0.004887,0.000487,0.003387,0.000490,10,linear,"{'C': 10, 'kernel': 'linear'}",1.0,1.000000,1.0,1.0,0.866667,1.000000,0.933333,1.0,1.0,1.0,0.980000,0.042687,1
4,0.005685,0.000639,0.004189,0.000399,20,rbf,"{'C': 20, 'kernel': 'rbf'}",1.0,0.933333,1.0,1.0,0.866667,0.933333,0.933333,1.0,1.0,1.0,0.966667,0.044721,5
5,0.004872,0.000298,0.003391,0.000489,20,linear,"{'C': 20, 'kernel': 'linear'}",1.0,1.000000,1.0,1.0,0.866667,0.933333,0.866667,1.0,1.0,1.0,0.966667,0.053748,5

In [56]:
# Useful columns in the above result:
tuning_svm_df[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.973333
2      10          rbf         0.973333
3      10       linear         0.980000
4      20          rbf         0.966667
5      20       linear         0.966667

In [ ]:
# You can see that the parameters giving the scores 98% can be used to train the model.

In [58]:
dir(SVC())

['C',
 '__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_n_features',
 '_check_proba',
 '_compute_kernel',
 '_decision_function',
 '_dense_decision_function',
 '_dense_fit',
 '_dense_predict',
 '_dense_predict_proba',
 '_estimator_type',
 '_get_coef',
 '_get_param_names',
 '_get_tags',
 '_impl',
 '_more_tags',
 '_pairwise',
 '_predict_log_proba',
 '_predict_proba',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_sparse_decision_function',
 '_sparse_fit',
 '_sparse_kernels',
 '_sparse_predict',
 '_sparse_predict_proba',
 '_validate_data',
 '_validate_for_predict',
 '_validate_targets',
 '_warn_from_fit_status',
 'break_ties',
 'cache_size',
 'class_weight',
 'coef0',
 'coef_',
 'decision_function',
 'decision_function_shape',
 'degree',
 'epsilon',
 'fit',
 'gamma',
 'get_params',
 'kernel',
 'max_iter',
 'n_support_',
 'nu',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'probA_',
 'probB_',
 'probability',
 'random_state',
 'score',
 'set_params',
 'shrinking',
 'tol',
 'verbose']

In [59]:
# You can use dir(name of any object/method) to get its properties.

In [60]:
dir(tuning_svm)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_is_fitted',
 '_check_n_features',
 '_estimator_type',
 '_format_results',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_pairwise',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_required_parameters',
 '_run_search',
 '_validate_data',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'fit',
 'get_params',
 'iid',
 'inverse_transform',
 'multimetric_',
 'n_features_in_',
 'n_jobs',
 'n_splits_',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [61]:
tuning_svm.best_score_

0.9800000000000001

In [63]:
tuning_svm.best_params_

{'C': 1, 'kernel': 'rbf'}

 You can see that we got our best parameters. But if your dataset contained millions of values and your parameters say
 C to be in [1,10,20] is now C in range(1,50), then GridSearchCV will literally take each and every permutation of the 
 values and check for the best parameters which will increase the computational cost. To tackle this, sklearn came up with
 a class called the RandomizedSearchCV.

RandomizedSearchCV doesnot try every possible permutation but takes random permutations and find their scores using cross_val_score. You can select the number of iterations to be used in the RandomSearchCV

In [64]:
from sklearn.model_selection import RandomizedSearchCV

In [69]:
random_tuning_svm=RandomizedSearchCV(SVC(gamma='auto'),{'C':[1,10,20],'kernel':['rbf','linear']},cv=10,n_iter=4)

In [70]:
random_tuning_svm.fit(df.drop(columns=['flower names','target']),df['target'])

RandomizedSearchCV(cv=10, estimator=SVC(gamma='auto'), n_iter=4,
                   param_distributions={'C': [1, 10, 20],
                                        'kernel': ['rbf', 'linear']})

In [71]:
# Make sure that the no. of iterations should be less than that of total no. of permutations, because it selects random
# permutations and not random folds.

In [74]:
dir(random_tuning_svm)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_is_fitted',
 '_check_n_features',
 '_estimator_type',
 '_format_results',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_pairwise',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_required_parameters',
 '_run_search',
 '_validate_data',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'fit',
 'get_params',
 'iid',
 'inverse_transform',
 'multimetric_',
 'n_features_in_',
 'n_iter',
 'n_jobs',
 'n_splits_',
 'param_distributions',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'random_state',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [75]:
random_tuning_svm_df=pd.DataFrame(random_tuning_svm.cv_results_)

In [76]:
random_tuning_svm_df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_kernel,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004798,0.000865,0.003335,0.000555,rbf,20,"{'kernel': 'rbf', 'C': 20}",1.0,0.933333,1.0,1.0,0.866667,0.933333,0.933333,1.0,1.0,1.0,0.966667,0.044721,4
1,0.005388,0.000659,0.003786,0.000603,rbf,10,"{'kernel': 'rbf', 'C': 10}",1.0,0.933333,1.0,1.0,0.866667,1.000000,0.933333,1.0,1.0,1.0,0.973333,0.044222,3
2,0.004189,0.000399,0.003297,0.000457,linear,10,"{'kernel': 'linear', 'C': 10}",1.0,1.000000,1.0,1.0,0.866667,1.000000,0.933333,1.0,1.0,1.0,0.980000,0.042687,1
3,0.004992,0.000782,0.003232,0.000594,rbf,1,"{'kernel': 'rbf', 'C': 1}",1.0,0.933333,1.0,1.0,1.000000,0.933333,0.933333,1.0,1.0,1.0,0.980000,0.030551,1

In [77]:
random_tuning_svm_df[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0      20          rbf         0.966667
1      10          rbf         0.973333
2      10       linear         0.980000
3       1          rbf         0.980000

This was HyperParameter Tuning. Now lets see how to have the best Model:

In [79]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [78]:
# For that first we make a dictionary of models which will have a dictionary of parameters and then run a for loop
# which will do the hyperparameter tuning.

In [92]:
model_params={
    'svm':{
        'model':SVC(gamma='auto'),
        'params':{'kernel':['rbf','linear'],'C':[1,10,20]}
    },
    'random_forest':{
        'model':RandomForestClassifier(),
        'params':{'n_estimators':[1,40,60]}
    },
    'logistic':{
        'model':LogisticRegression(solver='liblinear',multi_class='auto'),
        'params':{'C':[1,5,10]}
    }
}

In [93]:
for i in model_params.items():
    print(i)

('svm', {'model': SVC(gamma='auto'), 'params': {'kernel': ['rbf', 'linear'], 'C': [1, 10, 20]}})
('random_forest', {'model': RandomForestClassifier(), 'params': {'n_estimators': [1, 40, 60]}})
('logistic', {'model': LogisticRegression(solver='liblinear'), 'params': {'C': [1, 5, 10]}})

In [94]:
for i,j in model_params.items():
    print(f"i: {i}    j: {j}") # You run loop for dict.items() to get its key and values pairs
    print(j['model']) # Suppose, if you have another dictionary within that value, you can access its values like this.

i: svm    j: {'model': SVC(gamma='auto'), 'params': {'kernel': ['rbf', 'linear'], 'C': [1, 10, 20]}}
SVC(gamma='auto')
i: random_forest    j: {'model': RandomForestClassifier(), 'params': {'n_estimators': [1, 40, 60]}}
RandomForestClassifier()
i: logistic    j: {'model': LogisticRegression(solver='liblinear'), 'params': {'C': [1, 5, 10]}}
LogisticRegression(solver='liblinear')

In [95]:
# Now we run a for loop to the above dictionary and find the best scores and its parameters and append it in a list:
scores=[]
for model_name,parameters in model_params.items():
    clf=GridSearchCV(parameters['model'],parameters['params'],cv=10)
    clf.fit(data.data,data.target)
    scores.append({
        'Model_name': model_name,
        'Best_Score': clf.best_score_,
        'Best_parameters': clf.best_params_
    })

In [96]:
scores

[{'Model_name': 'svm',
  'Best_Score': 0.9800000000000001,
  'Best_parameters': {'C': 1, 'kernel': 'rbf'}},
 {'Model_name': 'random_forest',
  'Best_Score': 0.96,
  'Best_parameters': {'n_estimators': 1}},
 {'Model_name': 'logistic',
  'Best_Score': 0.9666666666666668,
  'Best_parameters': {'C': 5}}]

In [104]:
scores_df=pd.DataFrame(scores,columns=['Model_name','Best_Score','Best_parameters'])
# While using Dictionary make sure that the column names matches the dictionary keys.

In [105]:
scores_df

      Model_name  Best_Score            Best_parameters
0            svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1  random_forest    0.960000        {'n_estimators': 1}
2       logistic    0.966667                   {'C': 5}